@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

input::placeholder {
  color: #94a3b8 !important;
  opacity: 1 !important;
}

input {
  color: #1e293b !important;
}
